/* src/index.css */
body {
  font-family: Arial, sans-serif;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  margin-right: 5px;
}

ul {
  list-style: number;
}
.completed {
  text-decoration: line-through;
}
